.calc1{
  margin-top: 50px;
}

h3{
  color: rgb(0, 0, 0) ; 
  text-align:center ;
  margin-top: 50px;
  font-style: italic;
}
.input_value{  
   width:296px;  
   height: 50px;
   border: 2px #000000 solid ;  
    
   background-color:#85C1E9;  
 }  
 body {  
  background-color:#9B59B6;  
 }  
 table {  
   border: 2px solid black;
  margin: auto;  
  background-color: #ff45d7;  
  width: 295px;  
  max-width: 295px;  
  height: 325px;  
  text-align: center;  
  border-radius: 4px;  
  padding-right: 10px;  
   
 }  
 input[type=button] {  
  outline: 0;  
  position: relative;  
  left: 5px;  
  top: 5px;  
  border: 0;  
  color: #495069;  
  background-color: #fff;  
  border-radius: 4px;  
  width: 60px;  
  height: 50px;  
  float:left;  
  margin:5px;  
  font-size:20px;  
  box-shadow:0 4px rgba(0,0,0,0.2);  
  margin-bottom:15px;  
  }  
  input[type=button]:hover{  
    border:0 solid#000;  
    color:#495069;  
    background-color:#fff;  
    border-radius: 4px;  
    width: 60px;  
    height: 50px;  
    float: left;  
    margin: 5px;  
    font-size: 20px;  
    box-shadow: 0 4px #b0d2cf;  
  }  
  input[type=button]:active {  
    top: 4px;  
    border: 0 solid #000;  
    color: #495069;  
    background-color: #fff;  
    border-radius: 4px;  
    width: 60px;  
    height: 50px;  
    float: left;  
    margin: 5px;  
    font-size: 20px;  
    box-shadow: none;  
  }  
  #display  {
  width: 265px;  
  max-width: 270;  
  font-size: 50px;  
  text-align: right;  
  background-color: #bcbd95;  
  float: left;  
  }  
  #display:hover{  
    width: 270px;  
    font-size: 26px;  
    text-align: right ;  
    background-color: #bcbd95;  
    box-shadow: 0 4px rgba(0,0,0,0.2);  
  }  
  #display:active{  
    top: 5px;  
    width: 270px;  
    font-size: 26px;  
    text-align: right ;  
    background-color: #bcbd95;  
    box-shadow: 0 4px rgba(0,0,0,0.2)  
  }  
  .operator{  
    background-color: #cee9ea;  
    position: relative ;  
  }  
  .operator:hover{  
    background-color: #cee9ea;  
    box-shadow: none ;  
  }  
  #clear{  
    float: left;  
    position: relative ;  
    display: block ;  
    background-color: #5eff52;  
  }  
  #clear:hover{  
    float: left;  
    display: block;  
    background-color: #66ff48;  
    margin-bottom: 15px;  
    box-shadow: 0 4px #66ff48;  
  }  
  #clear:active{  
    float: left;  
    top: 4px;  
    display: block ;  
    background-color: #66ff48;  
    margin-bottom: 15px;  
    box-shadow: none;  
  }  
    
